In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
realValAdd = pd.read_csv("spaceRealValueAdded.csv", )
realValAdd

In [ ]:
employment = pd.read_csv('spaceEmployment.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'spaceEmployment.csv'

In [ ]:
import pandas as pd
import numpy as np

df_sis = pd.read_csv(r"yearly-number-of-objects-launched-into-outer-space.csv", )

df_sis_cleaned = df_sis[df_sis['Entity'] == "United States"]
df_sis_cleaned = df_sis_cleaned[["Year",  "Annual number of objects launched into outer space"]]
df_sis_cleaned = df_sis_cleaned[df_sis_cleaned["Year"].isin(range(2012, 2024))]
df_sis_cleaned.to_csv("cleaned_space_data.csv", index=False)

print(df_sis_cleaned)

      Year  Annual number of objects launched into outer space
1127  2012                                                 33
1128  2013                                                 80
1129  2014                                                 95
1130  2015                                                104
1131  2016                                                105
1132  2017                                                286
1133  2018                                                190
1134  2019                                                362
1135  2020                                                984
1136  2021                                               1232
1137  2022                                               1939
1138  2023                                               2234

In [ ]:
employment.T

,0,1,2,3,4,5,6,7,8,9,...,86,87,88,89,90,91,92,93,94,95
Economy Employment by Industry,"Space economy, private industries1","Agriculture, forestry, fishing, and hu...",Farms,"Forestry, fishing, and related act...",Mining,Oil and gas extraction,"Mining, except oil and gas",Support activities for mining,Utilities,Construction,...,"Other services, except government",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,433,…,…,…,0,0,0,0,0,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,432,…,…,…,0,0,0,0,0,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,426,…,…,…,0,0,0,0,0,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,424,…,…,…,0,0,0,0,0,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2016,411,…,…,…,0,0,0,0,0,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,399,…,…,…,0,0,0,0,0,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018,387,…,…,…,0,0,0,0,0,1,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,390,…,…,…,0,0,0,0,0,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020,365,…,…,…,0,0,0,0,0,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,351,…,…,…,0,0,0,0,0,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022,361,…,…,…,0,0,0,0,0,3,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023,373,…,…,…,0,0,0,0,0,2,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN