In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
private = pd.read_csv('optimizedBusiness.csv')
private.rename(columns = {'Real Value Added by Industry': 'Real Value Added by Industry (millions)', 
                          'Real Gross Output by Industry': 'Real Gross Output by Industry (millions)',
                          'Employment ': 'Employment (thousands)',
                          'Compensation': 'Compensation (millions)'}, inplace= True)

private.head()

,Year,Real Value Added by Industry (millions),Real Gross Output by Industry (millions),Employment (thousands),Compensation (millions)
0,2012,"79,861",151467,433,44438
1,2013,89170,159229,432,45211
2,2014,90495,164508,426,45941
3,2015,98536,173324,424,48237
4,2016,99506,173764,411,47959